@font-face {
  font-family: "Ppneuemontreal";
  src: url("./fonts/PPNeueMontreal-Book.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ppneuemontreal-Medium";
  src: url("./fonts/PPNeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alt-SFProDisplay";
  src: url("./fonts/Alt-SFProDisplay.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
