@font-face {
  font-family: "NeueMontreal";
  src: url("./fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("./fonts/NeueMontreal-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
